@import url('https://fonts.googleapis.com/css2?family=Product+Sans:wght@400;700&display=swap');

html{
  scroll-behavior: smooth;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0a0909 ;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4d4d4d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #919191;
}
* {
  background: #0a0909;
}

body {
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Product Sans', sans-serif;
  text-shadow: 0 0 10px black;
}

h1 {
  font-size: 76px;
  margin: 0 0 0 0;
  background: linear-gradient(to right, #0307fc 0%, #00cfc5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 0 transparent;
  margin-top: 250px;
  transition: all 0.3s;
}



h1:hover{
  text-shadow: 0 0 90px #0307fc;
}

.heresamontage{
  background: linear-gradient(to right, #0307fc 0%, #00cfc5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 250px;
  text-shadow: 0 0 30px #0307fc;
  font-size: 40px;
  margin-bottom: 6px;
  font-weight: 900;
}


p {
  color: #8f8f8f;
  text-shadow: 0 0 10px black;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button1, .button2 {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 12px;
  margin-right: 12px;
}

.button1 {
  background-color: #27ae60;
  color: white;
  transition: all 0.3s;
  box-shadow: 0 0 10px black;
}

.button2 {
  background-color: #3498db;
  color: #fff;
  transition: all 0.3s;
  box-shadow: 0 0 10px black;
}

.button1:hover{
  box-shadow: 0 0 10px #27ae60;
}

.button2:hover{
  box-shadow: 0 0 10px #3498db;
}

iframe{
  margin-left: 0px;
  border-radius: 40px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(0, 102, 255);
  background: #0a0909;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 60px #0307fc;
}

.header{
   position:fixed;
   top: 0;
   left: 0;
   width: 90%;
   padding: 20px 90px;
   background: #0a0909;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo{
  font-size: 20px;
  color: white;
  text-decoration: none;
  font-weight: bolder;
  text-shadow: 0 0 10px rgb(0, 0, 0);
  background-color: transparent;
  transition: text-shadow 0.3s;
}

.logo:hover{
  text-shadow: 0 0 20px white;
}

.navbar a{
  font-size: 18px;
  color: white;
  font-weight: 1000;
  text-decoration: none;
  margin-left: 10px;
  transition: text-shadow 0.3s;
}

.navbar a:hover{
  text-shadow: 0 0 10px white;
}

.scrolldown{
  margin-top: 200px;
  padding: none;
}

.scrollarrow{
  margin-top: none;
  padding: none;
  font-weight: 200;
  font-size: 16px;

}